*{
	margin: 0;
	padding: 0;
	font-family: helvetica;
}

.label, .time{
	border: 2px solid;
	padding: 10px;
}

.label{
	width: 200px;
	margin: 30px auto;
}

.time{
	width: 300px;
	margin: 0 auto;
	text-align: center;
}